<po-page-default p-title="Visualizador de PDF" [p-actions]="pageActions">
  <div class="page-body shadow">
    <div class="image-container">
      <img [src]="src" [style.transform]="'scale(' + scale + ')'">
    </div>

    <po-divider></po-divider>

      <nav>
        <div class="zoom-component">
          <div 
          (click)="zoomIn()" 
          class="nav-component button-zoom fa-solid fa-magnifying-glass-plus nav-icon"
          ></div>

          <div 
          (click)="zoomOut()" 
          class="nav-component fa-solid fa-magnifying-glass-minus nav-icon"
          ></div>

          <div 
          (click)="resetZoom()" 
          class="nav-component button-zoom fa-solid fa-rotate-right nav-icon"
          ></div>
        </div>

        <div class="pass-page">
          <div class="number-pages-avance pass-page-margin">
            <button 
              (click)="prev50Page()" 
              [disabled]="page === 1"
              class="previous nav-component pass-botton fa-solid fa-angles-left nav-icon"
            ></button>
            <p>-50</p>
          </div>

          <button 
            (click)="prevPage()" 
            [disabled]="page === 1"
            class="previous nav-component pass-botton fa-solid fa-angle-left nav-icon pass-page-margin"
          ></button>

          <div class="contador">
            <div class="contador-input">
              <po-number 
                name="page" 
                [(ngModel)]="page" 
                p-maxlength="4"
                (keyup.enter)="changePage()"
              ></po-number>
            </div>

            <div class="number-pages nav-component pass-botton pass-page-margin"> 
              <p>/ {{ totalPages }}</p>
            </div>
          </div>

          <button 
            (click)="nextPage()" 
            [disabled]="page === totalPages"
            class="next nav-component pass-botton fa-solid fa-angle-right nav-icon pass-page-margin"
          ></button>

          <div class="number-pages-avance pass-page-margin">
            <p>+50</p>
            <button 
              (click)="next50Page()" 
              [disabled]="page === totalPages"
              class="next nav-component pass-botton fa-solid fa-angles-right nav-icon"
            ></button>
          </div>
        </div>
      </nav>
  </div>
</po-page-default>
