<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="paisForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="codigoPais"
        name="codigoPais"
        p-clean
        [p-label]="this.literals.fields.form['codigoPais']"
        p-maxlength="60"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="nomePais"
        name="nomePais"
        p-clean
        [p-label]="this.literals.fields.form['nomePais']"
        p-maxlength="60"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

  </form>
</po-page-default>
