<po-page-default p-title="Times de Coleta" [p-actions]="pageActions">
  <form [formGroup]="timeColetaForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="coletaId"
        name="coletaId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="coletaIdService"
        p-label="Coleta"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="pessoaId"
        name="pessoaId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="pessoaIdService"
        p-label="Pessoa"
        p-required
      > </po-combo>
    </div>

  </form>
</po-page-default>
