<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="afastamentoForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="pessoaId"
        name="pessoaId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="pessoaIdService"
        [p-label]="this.literals.fields.form['pessoaId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="tipoAfastamentoId"
        name="tipoAfastamentoId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="tipoAfastamentoIdService"
        [p-label]="this.literals.fields.form['tipoAfastamentoId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-datepicker
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="inicio"
        name="inicio"
        p-clean
        [p-label]="this.literals.fields.form['inicio']"
        [p-readonly]="readonly"
        p-required
      > </po-datepicker>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-datepicker
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="fim"
        name="fim"
        p-clean
        [p-label]="this.literals.fields.form['fim']"
        [p-readonly]="readonly"
        p-required
      > </po-datepicker>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <po-checkbox
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 checkbox-header"
        formControlName="desabilitado"
        name="desabilitado"
        [p-disabled]="readonly"
        [p-label]="this.literals.fields.form['desabilitado']"
      > </po-checkbox>
    </div>

  </form>
</po-page-default>
