<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <div class="campos">
    <form [formGroup]="searchForm">
      <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
        <po-combo class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          p-clean 
          [p-disabled]="readonly"
          formControlName="clienteId"
          name="clienteId" 
          (p-change)="clienteIdChange($event)" 
          [p-filter-service]="clienteIdService" 
          p-label="Cliente"
          p-required
        > </po-combo>
      </div>

      <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
        <po-combo class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        p-clean [p-disabled]="readonly"
        formControlName="departamentoId"
        name="departamentoId"
        [p-filter-service]="departamentoIdService"
        p-label="Centro de Custo"
        p-required
        > </po-combo>
      </div>

      <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
        <po-combo class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        p-clean [p-disabled]="readonly"
        formControlName="tipoDocumentoId"
        name="tipoDocumentoId"
        [p-filter-service]="tipoDocumentoIdService"
        p-label="Tipos de Documentos"
        p-required
        > </po-combo>
      </div>

      <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 p no-padding">
        <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
          name="pdf"
          p-clean
          [p-disabled]="readonly"
          formControlName="pdf"
          p-label="PDF"
          p-required
        > </po-input>
      </div>

      <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 po-mt-4 no-padding" style= "display: flex; padding-left: 10px; gap: 15px">
        <po-button p-label="Local" p-kind="primary"> </po-button>
        <po-button (p-click)="searchPdf()" p-label="S3" p-kind="secondary"> </po-button>
      </div>
    </form>
  </div>

  <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 side-menu">
    <div class="page-body shadow">
      <div class="text-container">
        
      </div>

      <po-divider></po-divider>
      <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <nav>
          <div class="zoom-component">
            <div (click)="zoomIn()" class="nav-component button-zoom fa-solid fa-magnifying-glass-plus nav-icon"></div>

            <div (click)="zoomOut()" class="nav-component fa-solid fa-magnifying-glass-minus nav-icon"></div>

            <div (click)="resetZoom()" class="nav-component button-zoom fa-solid fa-rotate-right nav-icon"></div>
          </div>

          <div class="pass-page">
            <div class="number-pages-avance pass-page-margin">
              <button (click)="prev50Page()" [disabled]="page === 1"
                class="previous nav-component pass-botton fa-solid fa-angles-left nav-icon"></button>
              <p>-50</p>
            </div>

            <button (click)="prevPage()" [disabled]="page === 1"
              class="previous nav-component pass-botton fa-solid fa-angle-left nav-icon pass-page-margin"></button>

            <div class="contador">
              <div class="contador-input">
                <po-number name="page" [(ngModel)]="page" p-maxlength="4" (keyup.enter)="changePage()"></po-number>
              </div>

              <div class="number-pages nav-component pass-botton pass-page-margin">
                <p>/ {{ totalPages }}</p>
              </div>
            </div>

            <button (click)="nextPage()" [disabled]="page === totalPages"
              class="next nav-component pass-botton fa-solid fa-angle-right nav-icon pass-page-margin"></button>

            <div class="number-pages-avance pass-page-margin">
              <p>+50</p>
              <button (click)="next50Page()" [disabled]="page === totalPages"
                class="next nav-component pass-botton fa-solid fa-angles-right nav-icon"></button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="campo-quebras">
      <form [formGroup]="extracaoForm">
        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            name="textoQuebra" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Texto que Quebra a Página" 
            p-required
            > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="nomeCampo" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Nome do Campo" 
            p-required
          > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="titulo" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Título" 
            p-required
          > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="estrategia" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Estratégia" 
            p-required
          > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="texto" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Texto" 
            p-required
          > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="inicio" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Início" 
            p-required
          > </po-input>
        </div>

        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
          <po-input class="po-sm-12 po-md-12 po-lg-12 po-xl-12" 
            name="comprimento" 
            p-clean 
            [p-disabled]="readonly"
            p-label="Comprimento" 
            p-required
          > </po-input>
        </div>
      </form>
    </div>
  </div>
  <po-table 
    [p-auto-collapse]="true"
    [p-height]="listHeight"
    [p-columns]=""
    p-container="string"
    [p-hide-columns-manager]="true"
    [p-items]="texto"
    [p-striped]="true"
    p-height="200"
  > </po-table>

  <po-loading-overlay *ngIf="isLoading" [p-screen-lock]="true" p-text="Carregando"> </po-loading-overlay>
</po-page-default>