<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="volumeForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="coletaId"
        name="coletaId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="coletaIdService"
        [p-label]="this.literals.fields.form['coletaId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="identificador"
        name="identificador"
        p-clean
        [p-label]="this.literals.fields.form['identificador']"
        p-maxlength="40"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="arquivoFoto"
        name="arquivoFoto"
        p-clean
        [p-label]="this.literals.fields.form['arquivoFoto']"
        p-maxlength="255"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="comentario"
        name="comentario"
        p-clean
        [p-label]="this.literals.fields.form['comentario']"
        p-maxlength="1024"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="localDeArmazenagem"
        name="localDeArmazenagem"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="localDeArmazenagemService"
        [p-label]="this.literals.fields.form['localDeArmazenagem']"
      > </po-combo>
    </div>

  </form>
</po-page-default>
