<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="pontoColetaForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="clienteId"
        name="clienteId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="clienteIdService"
        [p-label]="this.literals.fields.form['clienteId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="descricao"
        name="descricao"
        p-clean
        [p-label]="this.literals.fields.form['descricao']"
        p-maxlength="60"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="estadoId"
        name="estadoId"
        (p-change)="estadoIdChange($event)"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="estadoIdService"
        [p-label]="this.literals.fields.form['estadoId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="cidadeId"
        name="cidadeId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="cidadeIdService"
        [p-label]="this.literals.fields.form['cidadeId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="endereco"
        name="endereco"
        p-clean
        [p-label]="this.literals.fields.form['endereco']"
        p-maxlength="100"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="numero"
        name="numero"
        p-clean
        [p-label]="this.literals.fields.form['numero']"
        p-maxlength="10"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="complemento"
        name="complemento"
        p-clean
        [p-label]="this.literals.fields.form['complemento']"
        p-maxlength="100"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="pessoaContatoNome"
        name="pessoaContatoNome"
        p-clean
        [p-label]="this.literals.fields.form['pessoaContatoNome']"
        p-maxlength="60"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="pessoaContatoCelular"
        name="pessoaContatoCelular"
        p-clean
        [p-label]="this.literals.fields.form['pessoaContatoCelular']"
        p-maxlength="20"
        [p-readonly]="readonly"
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <po-checkbox
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 checkbox-header"
        formControlName="desabilitado"
        name="desabilitado"
        [p-disabled]="readonly"
        [p-label]="this.literals.fields.form['desabilitado']"
      > </po-checkbox>
    </div>

  </form>
</po-page-default>
