<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="caixaQuebraForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="clienteId"
        name="clienteId"
        (p-change)="clienteIdChange($event)"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="clienteIdService"
        [p-label]="this.literals.fields.form['clienteId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="departamentoId"
        name="departamentoId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="departamentoIdService"
        [p-label]="this.literals.fields.form['departamentoId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-5 po-lg-5 po-xl-5 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="tipoDocumentoId"
        name="tipoDocumentoId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="tipoDocumentoIdService"
        [p-label]="this.literals.fields.form['tipoDocumentoId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-4 po-lg-4 po-xl-4 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="nomeArquivoOrigem"
        name="nomeArquivoOrigem"
        p-clean
        [p-label]="this.literals.fields.form['nomeArquivoOrigem']"
        p-maxlength="1024"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="sequencia"
        name="sequencia"
        p-clean
        [p-label]="this.literals.fields.form['sequencia']"
        p-maxlength="10"
        [p-readonly]="readonly"
        p-required
      > </po-number>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="paginaInicial"
        name="paginaInicial"
        p-clean
        [p-label]="this.literals.fields.form['paginaInicial']"
        p-maxlength="10"
        [p-readonly]="readonly"
      > </po-number>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-number
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="paginaFinal"
        name="paginaFinal"
        p-clean
        [p-label]="this.literals.fields.form['paginaFinal']"
        p-maxlength="10"
        [p-readonly]="readonly"
      > </po-number>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="status"
        name="status"
        p-clean
        [p-label]="this.literals.fields.form['status']"
        p-maxlength="20"
        [p-readonly]="readonly"
      > </po-input>
    </div>

  </form>
</po-page-default>
